---
import { SEO } from "astro-seo";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
const { title, seoTitle, seoDesc } = Astro.props;
---

<head>
  <SEO title={seoTitle} description={seoDesc} />

  <!-- GoogleAnalytics -->

  <GoogleAnalytics />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{title}</title>

  <!-- Favicon (webp) -->
    <!-- Favicon for all browsers (ICO) -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Favicon for modern browsers (PNG) -->
    <link rel="icon" href="/favicon.png" type="image/png">

    <!-- Open Graph Meta Tags for social sharing -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={seoTitle} />
    <meta property="og:description" content={seoDesc} />
    <meta property="og:image" content="https://maxwapp.de/images/badge.webp" />
    <meta property="og:image:width" content="1050" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="https://maxwapp.de" />
  
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={seoTitle} />
    <meta name="twitter:description" content={seoDesc} />
    <meta name="twitter:image" content="https://maxwapp.de/images/badge.webp" />

  <!-- Preconnect to improve font loading -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- Google Fonts (Carlito & Montserrat) -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <!-- Font Awesome Icons -->
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css" rel="stylesheet" />
</head>