---
import MainLayout from "../../layouts/MainLayout.astro";
import { faqPosts } from "../../data/faqPosts";

const { slug } = Astro.params;
const post = faqPosts.find(p => p.slug === slug);

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": post.question,
    "acceptedAnswer": {
      "@type": "Answer",
      "text": post.answer
    }
  }]
};

export async function getStaticPaths() {
  const { faqPosts } = await import("../../data/faqPosts");

  return faqPosts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}
---

<MainLayout title={post.question} seoTitle={post.seoTitle} seoDesc={post.seoDesc}>
  <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  <article class="min-h-screen text-white pb-20 px-4 max-w-4xl mx-auto">
    <h1 class="text-center text-4xl md:text-5xl font-bold drop-shadow-lg mt-12 md:mt-48 mb-12">
      {post.question}
    </h1>

    <div class="text-lg md:text-xl text-gray-300 leading-relaxed whitespace-pre-line mb-12">
      {post.answer}
    </div>

    <div class="mt-16 flex flex-col md:flex-row gap-6 justify-center items-center">
      <!-- Zurück zur Übersicht -->
      <a
          href="/"
        class="bg-[#1f1235] text-white font-bold py-4 px-10 rounded-full border-2 border-[#6d87d1] shadow-lg transition-all duration-300 ease-in-out hover:bg-blue-500 hover:shadow-[0_0_10px_rgba(147,112,219,0.5),_0_0_25px_rgba(3,169,244,0.4)] text-center w-full max-w-xs md:max-w-none md:w-auto"
      >
        Zurück zur Startseite
      </a>
    
      <!-- CTA Button, если он есть -->
      {post.ctaLink && post.ctaText && (
        <a
          href={post.ctaLink}
          class="relative inline-block py-4 px-10 rounded-full font-bold text-center w-full max-w-xs md:max-w-none md:w-auto bg-white text-[#090a1a] shadow-lg transition-all duration-300 ease-in-out hover:shadow-[0_0_20px_rgba(147,112,219,0.8),_0_0_35px_rgba(3,169,244,0.6)] hover:border-[#6d87d1]"
        >
          {post.ctaText}
        </a>
      )}
    </div>
  </article>
</MainLayout>